body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:xx-large;
}
table, tr, td{
    border: 1px solid;
    border-radius: 5px;
    
}
#table{
  background-color: gray;
  color:white;
  padding: 1rem;
}
#button{
  align-items: center;
}